pipeline/Delta load.json
{
	"name": "Delta load",
	"properties": {
		"activities": [
			{
				"name": "LK_tbldelta",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from SAPlookup where LoadType = 'Delta'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlSAPLkpFetch",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LK_tbldelta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LK_tbldelta').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CD_Srctostg",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapTableSource",
									"rfcTableOptions": {
										"value": "@{item().DeltaCondition}",
										"type": "Expression"
									},
									"customRfcReadTableFunctionModule": "",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@{concat('If object_id(''',item().StagingSchema.TableName,''') \nbegin ''truncate table''',item().StagingSchema.TableName,'''\nend')}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SAPtblsrc",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SAPfetchndsink",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().StagingSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_auditStg",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CD_Srctostg",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[auditlog]",
								"storedProcedureParameters": {
									"Destination": {
										"value": {
											"value": "@item().StagingSchema",
											"type": "Expression"
										},
										"type": "String"
									},
									"Message": {
										"value": {
											"value": "@if(equals(activity('CD_Srctostg').output.executionDetails[0].status,'''Succeeded'',))",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@pipeline().parameters.time",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"RowsCopied": {
										"value": {
											"value": "@{activity('CD_Srctostg').output.rowsCopied}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsRead": {
										"value": {
											"value": "@{activity('CD_Srctostg').output.rowsRead}\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"SinkSchema": {
										"value": {
											"value": "@item().StagingSchema",
											"type": "Expression"
										},
										"type": "String"
									},
									"SinkTable": {
										"value": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source": {
										"value": {
											"value": "@{activity('CD_Srctostg').output.executionDetails[0].source.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sourcetable": {
										"value": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "@{activity('CD_Srctostg').output.executionDetails[0].status}\n",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Linkedservice_SqlServer",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_auditdbo",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Script1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[auditlog]",
								"storedProcedureParameters": {
									"Destination": {
										"value": {
											"value": "@item().FinalSchema",
											"type": "Expression"
										},
										"type": "String"
									},
									"Message": {
										"value": "",
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"RowsCopied": {
										"value": {
											"value": "@activity('Script1').output.outputparameters.rowsCopied",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsRead": {
										"value": {
											"value": "@activity('Script1').output.outputparameters.rowsRead",
											"type": "Expression"
										},
										"type": "String"
									},
									"SinkSchema": {
										"value": {
											"value": "@item().FinalSchema",
											"type": "Expression"
										},
										"type": "String"
									},
									"SinkTable": {
										"value": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source": {
										"value": "SAP",
										"type": "String"
									},
									"Sourcetable": {
										"value": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "@activity('Script1').output.executionDetails.status",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Linkedservice_SqlServer",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "CD_Srctostg",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "Linkedservice_SqlServer",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "readRows",
												"type": "Int64",
												"value": null,
												"direction": "Output"
											},
											{
												"name": "rowsCopied",
												"type": "Int64",
												"value": null,
												"direction": "Output"
											},
											{
												"name": "PipelineTriggerTime",
												"type": "String",
												"value": {
													"value": "@pipeline().parameters.time",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "TableName",
												"type": "String",
												"value": {
													"value": "@item().TableName",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": "exec deltaSAP @SourceTable=@TableName,@PipelineTime=@PipelineTriggerTime,@rowscount =@rowsRead output,@rowswrite = @rowsCopied output"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"time": {
				"type": "string"
			}
		},
		"folder": {
			"name": "SAP pipeline flow"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-09T14:30:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}