pipeline/Full load.json
{
	"name": "Full load",
	"properties": {
		"activities": [
			{
				"name": "LK_table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from SAPlookup where LoadType = 'Full'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlSAPLkpFetch",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LK_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LK_table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CD_srctostg",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapTableSource",
									"rfcTableOptions": "",
									"customRfcReadTableFunctionModule": "",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@{concat('If object_id(''',item().StagingSchema.TableName,''') \nbegin ''truncate table'',''item().StagingSchema.TableName'',\nend')}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SAPtblsrc",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SAPfetchndsink",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().StagingSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_Auditstg",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CD_srctostg",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[auditlog]",
								"storedProcedureParameters": {
									"Destination": {
										"value": "",
										"type": "String"
									},
									"Message": {
										"type": "String"
									},
									"PipelineName": {
										"type": "String"
									},
									"PipelineRunId": {
										"type": "String"
									},
									"PipelineTriggerTime": {
										"type": "DateTime"
									},
									"RowsCopied": {
										"value": "",
										"type": "Int64"
									},
									"RowsRead": {
										"value": "",
										"type": "Int64"
									},
									"SinkSchema": {
										"value": {
											"value": "@item().StagingSchema",
											"type": "Expression"
										},
										"type": "String"
									},
									"SinkTable": {
										"value": "",
										"type": "String"
									},
									"Source": {
										"value": "",
										"type": "String"
									},
									"Sourcetable": {
										"value": "",
										"type": "String"
									},
									"Status": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Linkedservice_SqlServer",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "CD_stgtodbo",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SP_Auditstg",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SAPfetchndsink",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().StagingSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SAPfetchndsink",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().FinalSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_Auditdbo",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CD_stgtodbo",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[auditlog]",
								"storedProcedureParameters": {
									"Destination": {
										"value": "",
										"type": "String"
									},
									"Message": {
										"value": "",
										"type": "String"
									},
									"PipelineName": {
										"value": "",
										"type": "String"
									},
									"PipelineRunId": {
										"value": "",
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": "",
										"type": "DateTime"
									},
									"RowsCopied": {
										"value": "",
										"type": "String"
									},
									"RowsRead": {
										"value": "",
										"type": "String"
									},
									"SinkSchema": {
										"value": "",
										"type": "String"
									},
									"SinkTable": {
										"value": "",
										"type": "String"
									},
									"Source": {
										"value": "",
										"type": "String"
									},
									"Sourcetable": {
										"value": "",
										"type": "String"
									},
									"Status": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Linkedservice_SqlServer",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "SAP pipeline flow"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-09T07:46:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}