pipeline/MasterSAPload.json
{
	"name": "MasterSAPload",
	"properties": {
		"activities": [
			{
				"name": "LK_SAPDeltaTbls",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM SAP_lookup WHERE LoadType = 'Delta'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SAPdependentload",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_DeltaTables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LK_SAPDeltaTbls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LK_SAPtransactionalTbls').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapTableSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SAPtblsrc",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SAPdependentload",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().StagingSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_DeltaLoad",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[loadtypedelta]"
							},
							"linkedServiceName": {
								"referenceName": "LS_dependentdelta",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_Delta_AuditLog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP_DeltaLoad",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_SAPauditlog]"
							},
							"linkedServiceName": {
								"referenceName": "LS_dependentdelta",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "LK_DependentTbls",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FE_DeltaTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM SAP_lookup WHERE LoadType = 'Dependent Delta'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SAPdependentload",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_DependentDeltaLoad",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LK_DependentTbls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LK_DependentTbls').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "LK_DependentDeltaCondition",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat('SELECT CONCAT(','''',item().PKcolumn,' IN (','''',',','''''''''',',','(SELECT STRING_AGG(CONVERT(NVARCHAR(max)',',',item().PKcolumn,')',',',''''''',''''''',') FROM ',item().StagingSchemaName,'.',item().DependentOn,')',',','''''''''',',',''')'')',' AS String')}\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SAPdependentload",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "CD_SRCtoSTGdependent",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LK_DependentDeltaCondition",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapTableSource",
									"rfcTableOptions": {
										"value": "@{activity('LK_DependentDeltaCondition').output.value[0].String}",
										"type": "Expression"
									},
									"customRfcReadTableFunctionModule": "",
									"rfcTableFields": "",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@{concat('IF OBJECT_ID(','''',item().SinkSchemaName,'.',item().SinkTableName,'''',') IS NOT NULL\nTRUNCATE TABLE ',item().SinkSchemaName,'.',item().SinkTableName)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SAPtblsrc",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SAPfetchndsink",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().StagingSchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_DependentDelta",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CD_SRCtoSTGdependent",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_dependentdelta",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_DependentDelta_AuditLog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP_DependentDelta",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_SAPauditlog]"
							},
							"linkedServiceName": {
								"referenceName": "LS_dependentdelta",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "DEPENDENT DELTA"
		},
		"annotations": []
	}
}