pipeline/SAPfullnddelta.json
{
	"name": "SAPfullnddelta",
	"properties": {
		"activities": [
			{
				"name": "SV_Mastertime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "mastertime",
					"value": {
						"value": "@pipeline().TriggerTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "EX_full load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SV_Mastertime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SV_MasterRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Full load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"MainPipelinetime": {
							"value": "@variables('mastertime')",
							"type": "Expression"
						},
						"MainRunId": {
							"value": "@variables('runidmst')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "EX_delta load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SV_Mastertime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SV_MasterRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Delta load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"time": {
							"value": "@variables('mastertime')",
							"type": "Expression"
						},
						"MaiinRunId": {
							"value": "@variables('runidmst')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SV_MasterRunId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "runidmst",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"mastertime": {
				"type": "String"
			},
			"runidmst": {
				"type": "String"
			},
			"syntax": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SAP pipeline flow"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-08T09:44:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}