pipeline/scd type 1 pipeline.json
{
	"name": "scd type 1 pipeline",
	"properties": {
		"activities": [
			{
				"name": "tofetchthelookuptbl",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from Lookuptable where SourceSchemaName = 'Source' and SinkSchemaName ='stg'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "lookuptblinput",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "tofetchthelookuptbl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('tofetchthelookuptbl').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure srctostg",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sourcetostg]",
								"storedProcedureParameters": {
									"LastRefreshDate": {
										"value": {
											"value": "@item().LastRefreshDate",
											"type": "Expression"
										},
										"type": "String"
									},
									"SinkSchemaName": {
										"value": {
											"value": "@item().SinkSchemaName",
											"type": "Expression"
										},
										"type": "String"
									},
									"SinkTableName": {
										"value": {
											"value": "@item().SinkTableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceSchemaName": {
										"value": {
											"value": "@item().SourceSchemaName",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceTableName": {
										"value": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Linkedservice_SqlServer",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "tofetchlookupstgtodbo",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM Lookuptable where SourceSchemaName = 'stg'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "lookuptblinput",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "tofetchlookupstgtodbo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('tofetchlookupstgtodbo').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[stgtodbo]",
								"storedProcedureParameters": {
									"PipelineTriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"SinkSchemaName": {
										"value": {
											"value": "@item().SinkSchemaName",
											"type": "Expression"
										},
										"type": "String"
									},
									"SinkTableName": {
										"value": {
											"value": "@item().SinkTableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceSchemaName": {
										"value": {
											"value": "@item().SourceSchemaName",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceTableName": {
										"value": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Linkedservice_SqlServer",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-10-10T11:32:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}